.bio{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1rem;

    p{
       
        font-family: 'Space Grotesk', sans-serif;
        color: white; 
        text-align: justify;
        margin: 1rem;
    }
}

.flezBio{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 28rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 992px){
    .flezBio{
        img{
            display: none;
        }
    }
}



