.flexPro{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 12rem;
    padding-bottom: 20rem;
    align-items: center;
    position: relative;
  
}



.btmPro{

    font-size: 4rem;
    box-shadow: 0 10px 10px;
    
    height: 5rem;
      transition: .5s;
    background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
}

.btmPro:hover{ 
    transform: 
       
        rotateX(10deg);
        box-shadow: 0 40px 40px;
}




