.flags{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    top:4rem;
    position: absolute;
    left: 0;
    right: 0;
    
  
    

    img{
        width: 2rem;
        height: 1.5rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
        z-index: 3;
        transition: .5s;
    }

    .flagSelected{
        scale: 1.2;
        
    }
    
}


@media screen and (max-width: 992px){
    .flags{
        top:4rem;
    }
}

@media screen and (max-width: 479px){
    .flags{
       top:1rem

        img{
            width: 1.5rem;
            height: 1rem;
        }
        .flagSelected{
            width: 2rem;
            height: 1.5rem;
            
        }
    }
}

