.flags{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
  
    position: absolute;
    left: 0;
    right: 0;
    
  
    

    img{
        width: 2rem;
        height: 1.5rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
        z-index: 3;
        transition: .5s;
     filter: gray;
        -webkit-filter: grayscale(100%);

    }

    .flagSelected{
        scale: 1.2;
          filter: gray;
        -webkit-filter: none
    }
    
}


@media screen and (max-width: 992px){
    .flags{
        margin-top: 5rem ;
        img{
            width: 1.2rem;
            height: .8rem;
       
        }
        .flagSelected{
            width: 1.5rem;
            height: 1.1rem;
          
        }
    }
}

@media screen and (max-width: 479px){
    .flags{
      margin-top: -1rem;
        img{
            width: 1.5rem;
            height: 1rem;
        }
        .flagSelected{
            width: 2rem;
            height: 1.5rem;
            
        }
    }
}

