.flexImgPrin{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
    img{
        width: 20rem;
        
        
    }
}

.imgAnimacion{
    animation-name: animacionImg;
    animation-duration: 2s;
    
}

@keyframes animacionImg {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0; 
    }

    
    100% {
      opacity: 1;
    }
  }

.imgGal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 20rem;
    animation-name: animacionGal;
    animation-duration: 4s;
   z-index: 2;
    
    
    img{
        width: 6rem;
        height: 6rem;
         padding-left: 5rem;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease; 
        cursor:pointer;
        
    }

    img:hover{
        scale: 1.5;
    }
}

@keyframes animacionGal {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0; 
    }

    
    100% {
      opacity: 1;
    }
  }

.imgFondo{
    position: absolute;
    max-width: 100%;
    opacity: .3;
}

.flexHome{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    position: relative;
    width: 15rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.flexLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: animacionLogo;
    animation-duration: 6s;

    p{
        position: relative;
       margin-top: 0;
        color: white;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 2rem
    };
}

@keyframes animacionLogo {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0; 
    }

    
    100% {
      opacity: 1;
    }
  }