li{
    color: rgb(0, 0, 0);
    list-style-type: none;
    font-family: 'Space Grotesk', sans-serif;
    text-shadow: 1px 1px 1px white;
    transition: .5s;
   
    
}
 li:hover{
        scale: 1.2;
    }
.flexHeader{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    
   
}

@media screen and (max-width: 479px){
    .flexHeader{
        flex-direction: column;
        padding: 1.5rem;
    }
}

.navFlex{
    display: flex;
    gap: 2rem;
 
}


@media screen and (max-width: 479px){
    .navFlex{
        display: none;
    }
}


.flexTitle{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 2rem;
    position: absolute;
    z-index: 2;

    p{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 1.3rem;
        text-shadow: .5px .5px .5px white;
    }
}

@media screen and (max-width: 479px){
    .flexTitle{
        p{
            text-align: center;
            color: white;
        }
    }
}

h1{
    color: rgb(0, 0, 0);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 1px white;
    
}

@media screen and (max-width: 479px){
    h1{
        color: white;
        margin-top: 2rem;
    }
}

.trapecio-top {
    margin-top: -4rem;
    position: absolute;
    width: 350px;
    height: 0px;
    border-right: 60px solid transparent;
    z-index: 1;
    border-top: 100px solid #ffffff;
    
}

@media screen and (max-width: 479px){
    .trapecio-top{
        display: none;
    }
}

.ulFlex{
    display: flex;
    gap:3rem;
    justify-content: space-around;
    margin-top: -2rem;
    z-index: -1;
    position: absolute;
    
   
  }
  @media screen and (max-width: 992px){
    .ulFlex{
      gap:2rem;
      margin-right: 0rem;
    }
  }
  .nav__img{
    width: 5rem;
    
    filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
  }
  
  .nav__imput{
    display: none;
  }
  
  .nav__label{
   
    display: none;
  }
  
  @media screen and (max-width: 479px){
    .nav__label{
      display: flex;
      justify-content: center;
      margin-top: 5rem;
        cursor: pointer;
    }
  
    .nav__img{
        width: 3rem;
        position: absolute;
        z-index: 2;
    }
    .ulFlex{
        position: fixed;
        text-align: center;
        flex-direction: column;
        margin-top: 3rem;
        clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
        transition: clip-path .5s;
        background-color: transparentize($color: rgb(95, 95, 95), $amount: .1);
        width: 85%;
        z-index: 2;
        font-family: 'Space Grotesk', sans-serif;
       
       li{
        
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        list-style-type: none;
        font-weight: bolder;
        
       }
    }
  
    .nav__imput:checked + .ulFlex{
        clip-path:polygon(100% 0, 0 0, 0 98%, 100% 98%);
    }
  }
