.flexFooter{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 1rem;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 1rem;
    z-index: 2;
    position: relative;
    background-image: linear-gradient(270deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(2, 2, 83))
}

@media screen and (max-width: 992px){
    .flexFooter{
        p{
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 479px){
    .flexFooter{
        flex-direction: column;
    }
}

.flexTituloFppter{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    h1{
        text-shadow: none;
        color: rgb(255, 255, 255);
    }
    
}

@media screen and (max-width: 992px){
    .flexTituloFppter{
        h1{
            font-size: 1.8rem;
        }
        p{
            font-size: .8rem;
        }
    }
}

.flexRedes{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    img{
        width: 2rem;
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
        transition: .5s;
    }
    img:hover{
        scale:1.2
    }
}

@media screen and (max-width: 992px){
    .flexRedes{
        img{
            width: 1.8rem;
        }
    }
}

.flexCircuito{
    
   display: flex;
    justify-content: center;
     
    img{
        position: absolute;
    }
}

.trapecio-foot {
    margin-top: -8rem;
    position: absolute;
    width: 30rem;
    height: 0rem;
    left: 55%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 30px solid #000000;
    z-index: 1;
}
    
@media screen and (max-width: 992px){
    .trapecio-foot{
        display: none;
    }
}